<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="first-field" class="text-warning">
            {{ form.first.label }}
            {{ form.first(class = 'form-control', placeholder = 'Enter First Name ') }}
        </fieldset>
        <fieldset id="last-field" class="text-warning">
            {{ form.last.label }}
            {{ form.last(class = 'form-control', placeholder = 'Enter Last Name ') }}
        </fieldset>
        <fieldset id="email-field" class="text-warning">
            {{ form.email.label }}
            {{ form.email(class = 'form-control', placeholder = 'Enter Email ') }}
        </fieldset>
    </div>
    <fieldset id="pass-field" class="text-warning">
        {{ form.password.label }}
        {{ form.password(class = 'form-control', placeholder = 'Enter Password ') }}
    </fieldset>
    {{ form.submit_button(class = "btn btn-warning btn-block mt-2 text-light") }}
    </div>
</form>